@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@1,200&display=swap');

* {
    margin: 0;
    padding: 0;
}

.sideber {
    background-color: darkslategray;
    width: 226px;
    font-family: 'PT Sans', sans-serif;
    height: 100vh;
    color: white;
}

.sideber nav {
    padding: 32px;
    font-size: 30px;
}

.sideber nav li {
    list-style: none;
    padding: 24px 0px;
}

.sideber nav li a {
    text-decoration: none;
    color: white;
}

/* Home page*/
.main {
    /* background-color: yellow; */
    width: 90vw;
    background-color: black;
    color:  white;
}

.container {
    display: flex;
}

/* contacts form */

.contactform h1 {
    font-family: 'Source Code Pro', monospace;
    text-align: center;
    padding-right: 16vh;
    padding-bottom: 16px;
}

.contactform {
    font-family: 'PT Sans', sans-serif;
    margin-top: 197px;
    padding: 18px 34px;
}

.contactform form div {
    padding: 4px;
    display: flex;
    flex-direction: column;
}


.contactform form div input {
    width: 16vw;
    border-radius: 5px;
    margin: 6px 0;
    padding: 3px;
}

.contactform form {
    padding-left: 30vw;
}

#emailHelp {
    font-size: 13px;
    color: cadetblue;
    ;
    margin: 0;
}


#form-check {
    display: flex;
    flex-direction: row;
}

#isclient {
    width: 40px;

}

.btn {
    padding: 9px;
    display: flex;
    justify-content: center;
    width: 77px;
    border-radius: 15px;
    cursor: pointer;
    color: white;
    background-color: darkslategray;
}

.btn:hover {

    background-color: white;
    color: darkslategray;
}

/* ending of contact page coding in css */