/* Home page*/
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@1,200&display=swap');

* {
    margin: 0;
    padding: 0;
}

.sideber {
    background-color: darkslategray;
    width: 226px;
    font-family: 'PT Sans', sans-serif;
    height: 100vh;
    color: white;
}

.sideber nav {
    padding: 32px;
    font-size: 30px;
}

.sideber nav li {
    list-style: none;
    padding: 24px 0px;
}

.sideber nav li a {
    text-decoration: none;
    color: white;
}

.main {
    background-color: black;
    color: white;
    width: 90vw;
}
/* Home Bolg*/
.container {
    display: flex;
    justify-content: center;
}

.BolgContainer {
    display: flex;
    justify-content: space-around;
    display: block;
}

.Bolg {
    padding-top: 11px;
    width: 336px;
    display: inline-block;
}

.BolgContainer h1 {
    padding-left: 44px;
}

.Bolg h2 {
    padding-left: 138px;
    
}
#h2-C_programming{
    padding-left: 100px;
}
#h2tag{
    padding-left: 133px;
}
#H2Css{
    padding-left: 152px;
}
#tagh2{
    padding-left: 131px;
}

.Bolg h3 {
    padding-left:102px;
    padding-bottom: 25px;
}
#H3Css {
    padding-left: 88px;
}
#C_Programming {
    padding-left: 80px;
}
/* H3_C_Programming{
    padding-left:102px;
} */

.Bolg p {
    padding: 23px;
}

.Bolg img {
    width: 247px;
    padding-left: 51px;
    padding-top: 5px;
}
.Bolg a {
    text-decoration: none;
    color: white;
}

/* ending of Bolg page coding in css */